<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
<!--  별칭 사용 -->
<typeAlias alias="userVO" type="itall.survey.study.VO.UserVO"/>
<typeAlias alias="styleVO" type="itall.survey.study.VO.StyleVO"/>
<typeAlias alias="subjectVO" type="itall.survey.study.VO.SubjectVO"/>
</typeAliases>
<!-- <typeHandlers>
자료형 강제 주입
<typeHandler javaType="org.springframework.web.multipart.MultipartFile" handler=""/>
<typeHandler javaType="java.sql.Date" handler="org.a"/> -->

</configuration> 